@using DataAccess.Models
@model IEnumerable<Student>

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Last name
        </th>
        <th>
            First name
        </th>
        <th>
             Birthdate
        </th>
        <th>
            Rank
        </th>
        <th>
            City
        </th>
        <th>
            Organization
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Update</a> |
                <a class="studentCRUD" href="/Students/Details/@item.Id">Details</a>
            </td>

        </tr>
    }
    </tbody>
</table>
